# Ignore all files by default
*

# Allow files with extensions
!*.*

# Allow all directories and subdirectories
!*/

# Ignore log files
*.log

# Ignore test binaries
*.test

# Ignore coverage reports
*.out

# Ignore Go workspace files
go.work
go.work.sum

# Ignore environment files
.env

# Allow LICENSE explicitly
!LICENSE

# Misc
/.vscode